<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Description" content=" " />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="./style.css">
  <title>Team Profile Roster</title>
</head>
<body>

  <nav class="navbar d-flex justify-content-center p-3 mb-2 bg-info text-white">
    <h1>Middle Earth Team</h1>
  </nav>

<div class="container d-flex justify-content-around">
<div class="row">
    <!--Manager card-->
    <div class="card border-bold m-3" style="max-width: 18rem;">
      <div class="card-header justify-content-center p-3 mb-2 bg-info text-white""><h2>Legolas Greenleaf</h2></div>
      <div class="card-body text-dark">
        <h5 class="card-title">Manager</h5>

        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>ID: </b>1803</li>
            <li class="list-group-item"><b>Email: </b>leoglas@middleearth.com</li>
            <li class="list-group-item"><b>Office number: </b>2931</li>
          </ul>
        </div>
      </div>
    </div>

    <!--Engineer card-->
   <div class="card border-bold m-3" style="max-width: 18rem;">
      <div class="card-header justify-content-center p-3 mb-2 bg-info text-white""><h2>Aragorn Strider</h2></div>
      <div class="card-body text-dark">
        <h5 class="card-title">Engineer</h5>

        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>ID: </b>1899</li>
            <li class="list-group-item"><b>Email: </b>aragorn@middleearth.com</li>
            <li class="list-group-item"><b>GitHub: </b>aragornstrider</li>
          </ul>
        </div>
      </div>
    </div>

    <!--Intern card-->
    <div class="card border-bold m-3" style="max-width: 18rem;">
      <div class="card-header justify-content-center p-3 mb-2 bg-info text-white""><h2>Frodo Baggins</h2></div>
      <div class="card-body text-dark">
        <h5 class="card-title">Intern</h5>

        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>ID: </b>1876</li>
            <li class="list-group-item"><b>Email: </b>frodo@middleearth.com</li>
            <li class="list-group-item"><b>School: </b>University of the Shire</li>
          </ul>
        </div>
      </div>
    </div>

</div>
</div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script src="./script.js"></script>

</html>